<h1>Test</h1>
{{!-- Name: {{model.name}} <br>
Height: {{model.height}} <br>
Weight: {{model.weight}} <br>
Skin Color: {{model.skin_color}} <br>
Eye Color: {{model.eye_color}} <br>
Hair Color: {{model.hair_color}} <br>
Birth Year: {{model.birth_year}} <br>
Gender: {{model.gender}} <br> --}}

{{outlet}}