<h2>{{title}}</h2>

<div class="container">
    <div class="cell title">ID</div>
    <div class="cell title">Reseller</div>
    <div class="cell title">Status</div>
    <div class="cell title long">Email</div>
    <div class="cell title">Telephone</div>
    <div class="cell title">Fax Number</div>
    <div class="cell title">Creation Date</div>
  </div>
{{#each model as |account|}}

 <div class="container">
    <div class="cell">
       <div class="cell-content">{{#account-list-entry account=account}}{{account.id}}{{/account-list-entry}}</div> 
       {{!-- <div class="cell-content">{{account.id}}</div> --}}
    </div>
    <div class="cell">
      <div class="cell-content">{{account.reseller}}</div>
    </div>
    <div class="cell">
      <div class="cell-content">{{account.status}}</div>
    </div>
    <div class="cell long">
      <div class="cell-content">{{account.email}}</div>
    </div>
    <div class="cell">
      <div class="cell-content">{{account.telephone}}</div>
    </div>
    <div class="cell">
      <div class="cell-content">{{account.faxNumber}}</div>
    </div>
    <div class="cell">
      <div class="cell-conent">{{account.creationDate}}</div>
    </div>
</div> 

{{/each}}
